body{
    background-color: darkgrey;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width:60%;
    margin-right:auto;
    margin-left:auto;
    padding:2em;
}
form{
    line-height: 1.5em;
}
input, label{
    margin:1.0em;
}
input[type="submit"]{
 padding:1em;
 font-size: 1em;
 color:white;
 background-color:blueviolet;
 border:1px solid blueviolet;
 outline:0px;
}
input[type="submit"]:focus,input[type="submit"]:hover,input[type="submit"]:active{
    border:2px solid red;
}
input.dirty:not(:focus):invalid{
    border : 2px solid red;
}
input.dirty:not(:focus):valid{
    border:2px solid green;
}